# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.exe
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
FL-Studio-Producer-Edition 25.1.6.4997-All-Plugins-Flstudiox.xom.zip.crdownload
